@page
@model Pizzaria.Pages.FinalModel
@{
}

<form method="post">
    <h3>Orders</h3>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>Pizza name</th>
                <th>Total Price</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var order in @Model.Orders)
            {
                <tr>
                    <th>@order.Pizza.Name</th>
                    <th>@order.TotalPrice</th>
                    <th>
                        <button type="submit" class="btn btn-danger" asp-page-handler="delete" asp-route-id="@order.Id">Delete</button>
                    </th>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <h1>Grand total: $@Model.Orders.Sum(o => o.TotalPrice)</h1>
    </div>

    @if (@Model.Orders.Any())
    {
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Order" />
        </div>
    }
</form>